.department-body {
    margin: 3vh 0;
}

.department-body > div {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.department-body > div > p {
    font-size: 1.5em;
}

.department-body > div > p.answer {
    color: rgb(44, 121, 42);
}