.department-body {
    margin: 3vh 0;
}

.department-body > div:first-child {
    height: 125px;
}

.department-body > div:nth-child(2) {
    height: 75px;
}

.department-body > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.department-body > div > p {
    font-size: 1.5em;
}

.department-body > div > p.answer {
    color: rgb(44, 121, 42);
}