body, p {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  top: 5px;

  overflow: auto;
  margin: auto;

  display: flex;
}

#root {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 10px 5px;
  margin: auto;
}

span.avoidwrap {
  display:inline-block;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
